name: Publish to crates.io

on:
  push:
    branches:
      - main

jobs:
  publish:
    environment: Autobump version
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'Cardinal-Cryptography/AlephBFT'}}
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions-rs/toolchain@v1
      - uses: katyo/publish-crates@v1
        with:
          registry-token: ${{ secrets.CRATES_IO_TOKEN }}
          ignore-unpublished-changes: true
          publish-delay: 30000
